SUPABASE_URL=op://Personal/training-secrets/Backend/SUPABASE_URL
SUPABASE_JWT_SECRET=op://Personal/training-secrets/Backend/SUPABASE_JWT_SECRET
DATABASE_URL=op://Personal/training-secrets/Backend/DATABASE_URL
FRONTEND_URL=op://Personal/training-secrets/Backend/FRONTEND_URL
